<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danh sách hóa đơn của nhân viên theo ngày</title>
</head>
<body>
    <h2>Danh sách hóa đơn theo nhân viên trong 1 khoảng thời gian</h2>
    <div th:each="od : ${orderList}">
        Tên nhân viên: <span th:text="${od.getEmployee().fullname}"></span><br>
        Tên khách hàng: <span th:text="${od.getCustomer().name}"></span><br>
        Địa chỉ khách hàng: <span th:text="${od.getCustomer().address}"></span><br>
        SĐT khách hàng: <span th:text="${od.getCustomer().phone}"></span><br>
        Email khách hàng: <span th:text="${od.getCustomer().email}"></span><br>
        Ngày lập hóa đơn: <span th:text="${od.getOrderDate()}"></span><br><br><br>
    </div>
</body>
</html>